.home {
  display: flex;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2F4F4F;
        flex-direction: column;

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_basket {
  display: flex;
  width: 100%;
}
.box {
  /* display: grid; */
  /* grid-template-columns: auto auto auto auto; */
  width: 70%;
}
.items {
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto auto;
}
.item {
  /* border-radius: 25px; */
  border: 3px solid #032bf4;
  padding: 20px;
}
.basket {
  width: 30%;
}
.menu_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-size: 32px;
    margin: 10px;
}
.select {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
}
a, ul {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.button {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
}
.table {
	width: 100%;
	font-size: 30px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 15px;
  margin: 10px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 15px;
  outline: 2px solid #000;
}
/* table { */
/*     gap: 10px; */
/* } */
.line-through {
  /* Перечёркнутый текст */
    text-decoration: line-through;
}
.lii {
    /* background-color: white; */
    /* border-radius: 10px; */
    margin: 25px;
    font-size: 1.5rem;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}
li {
    display: flex;
    /* background-color: white; */
    /* border-radius: 10px; */
    margin: 25px;
    font-size: 1.5rem;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}
.d-1 {
   width: 100%; 
  --c: #1095c1; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */
  
  --_s: calc(var(--d) + var(--b));
  
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}
.d-1:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}
.d-2 {
   width: 100%; 
  --c: #CC333F; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */
  
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--_s) var(--_s) var(--b);
  background:
    conic-gradient(from -90deg at right var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at right var(--_s) bottom var(--_s),
      var(--c) 270deg,#0000 0) 100% 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(var(--d),var(--d));
  clip-path: 
    polygon(
      0% 0%,
      calc(100% - var(--d)) 0%,
      calc(100% - var(--d)) 0%,
      calc(100% - var(--d)) calc(100% - var(--d)),
      0 calc(100% - var(--d)),
      0 calc(100% - var(--d))
    );
  transition: 0.5s;
}
.d-2:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
      0% 0%,
      calc(100% - var(--d)) 0%,
      100% var(--d),
      100% 100%,
      var(--d) 100%,
      0 calc(100% - var(--d))
    );
}
.menu {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  place-content: center;
  align-items: center;
}
h3 {
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  margin:0;
  cursor: pointer;
  padding: 0 .1em;
}
.navbar {
  background-color: #efbc56;
  color: #af2d02;
  display: flex;
  margin:0;
  align-items: center;
  justify-content: center;
  padding-block: 5px;
  padding-inline: 10px;
  flex-direction: column;

  /* border-bottom: solid; */
}
