<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Результаты</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="navbar">
        <div style="flex-direction: row;">
            <a class="home" href="{{url_for('main_menu')}}">Библиотека</a>
            <a class="home" href="{{url_for('bp_query.work_with_queries')}}">Назад</a>
         <a class="home" href="{{url_for('bp_auth.auth_exit')}}">Выход</a>
    </div>
    </h1>
    <main class="main">
        <div class="menu_navigation">
            <strong style="margin: 10px;">{{label}}</strong>
            <div style="border-bottom: 5px solid #1095c1; width: 100%; margin-bottom: 10px;;"></div>
            <table style="outline: 2px solid #000;">
                <tr style="outline: 2px solid #000;">
                    {% for header in headers %}
                    <th  style="outline: 2px solid #000;">{{header}}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr style="outline: 2px solid #000;">
                    {% for cell in row %}
                    <td  style="outline: 2px solid #000;">
                        {{cell}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <div style="border-bottom: 5px solid #1095c1; width: 100%; margin-top: 10px;;"></div>
        </div>
    </main>
</body>

</html>
