<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>

<body>
    <div style="height: auto; width: 400px; border: 4px solid black; overflow:auto">
        <h2>По вашему запросу не было найдено никаких результатов</h2>
        <div style="clear: both"></div>
        <div style="clear: both; height: 10px"></div>
        <a href="{{url_for('bp_query.work_with_queries')}}" style="font-size: 24px">Вернуться в главное
            меню</a>
        <div style="clear: both; height: 20px"></div>
    </div>
</body>

</html>
